body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
}

p {
  margin: 3px 1px 1px 5px;
  font-size: large;
}

.root {
  position: relative;
}

.loader {
  position: absolute;
  left: 50%;
}

.button {
  padding: 1rem;
  margin: 15px;
  background-color: black;
  color:white;
  text-decoration: none;
  text-align: end;

  border-radius: 10%;
}


.wrapper-container {
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 2rem;
}
