body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  position: relative;
}

.list-grid-container {
  display: grid;
  grid-template-columns: repeat(4,25%);
  gap: 1rem;

  margin: 1rem 12rem 1rem 12rem;
}

.grid-item {
  border: 1px solid black;
}
.grid-item img{
  height: 100%;
  width: 100%;
}
    p{
  margin: 3px 1px 1px 5px;
  font-size: large;
}
.grid-item a{

  text-decoration: none ;
  color: black ;
}

.loader {
  position: absolute;
  left: 50%;
}

.profileInfoCard {
  display: flex;
  flex-direction: row;

  font-size: larger;
}